
.btn-brand{
    background-color: #ff6600;
    border-color: #ff6600;
    color: #ffffff !important;
    height: 25px;
    vertical-align: top;
    padding: 3px;
}

.about-content{
 
  text-align:left;
  padding-left: 200px;
  font-size:12px;
}
